<div class="wrapper">
    <article class="post">
        <div class="post-content">
            <p><a href="https://www.instagram.com/aminn04/" target="_blank">
                    <img alt="Amin Ali" src="{{ site.author.image }}" style="float: right; max-width: 33%; margin: 0 0 1em 2em; border-radius: 999px" />
                </a></p>
            <p>I’m <strong>Amin N Ali</strong>, a builder, dreamer, thinker, and, most importantly, a duer!</a></p>
            <p>My focus is in <i>Data Science & Artificial Intelligence</i>, with expertise in  Product, Customer, and Revenue Analytics with the Modern Data Stack.</p>
            <p>I'm <cite>currently</cite> exploring creative use cases of LLMs in energy and healthcare, please <a href="mailto:{{ site.author.email}}">reach out</a> if you're interested in discussing ideas or solutions.</p>
            <p>I'm a big music fan and used to be very active on Spotify. I've since moved on to Apple Music but you can still find my <a href="{{ site.author.spotify}}">playlists</a> there.</p>
            <p>I'm a proud resident of <a href="https://www.hellobc.com">British Columbia</a>, and in my <q>spare</q> time, to quote a famous bumper sticker, <q>I’d rather be hiking!</q>

        </div>
    </article>
</div>
