<header class="site-header" role="banner">  
<div class="wrapper">    
    <span class="terminal-logo">
        <span class="terminal-prompt logo gray">
            <a href="/" class="no-style">AA</a>
        </span>
    </span>
    <nav class="site-nav">
         <div class="terminal-menu">
            <a href="{{ site.author.linkedin}}" class="ri-linkedin-fill ri-lg" rel="me"></a>
            <a href="{{ site.author.bluesky}}" class="ri-bluesky-fill ri-lg" rel="me"></a>
            <a href="{{ site.author.instagram}}" class="ri-instagram-fill ri-lg" rel="me"></a>  
            <a href="{{ site.author.spotify}}" class="ri-spotify-fill ri-lg" rel="me"></a>  
            <!-- 
            <a class="menu-item" href="/projects">Projects</a>
            <a class="menu-item" href="/blog">Blog</a>
             -->
        </div>
    </nav>
</div>
</header>
